<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('../../partials/header.ejs') %>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/card.css">
  <title>Wishlist: <%= wishlist.name %> </title>
</head>

<body>
  <%- include ('../../partials/navbar.ejs') %>

  <div class="container">
    <h2 class='my-4'><%= wishlist.name %></h2>
    <%- include ('../../partials/messages.ejs') %>
    <hr class="my-4">

    <% if (wishlistItems.length > 0) { %>
    <div align="center" class="card-deck row row-cols-lg-4 row-cols-md-2">
      <% wishlistItems.forEach(itemObj => { var item = itemObj.item_id; %>
      <div class="col mb-2">
        <div class="card h-100 pt-3 shadow">
          <% if (user.email === wishlist.owner) { %>
          <div align="right" class="pull-right">
            <form action="/wishlist/deleteItem/<%= wishlist._id %>/<%= item._id %>" method="POST">
              <button type="submit" class="btn btn-danger delete-btn">X</button>
            </form>
          </div>
          <% } %>
          <img src="<%= item.img_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="/item/<%= item._id%>"><%= item.title %></a></h5>
            <p class="card-text">$<%= item.price_hist[item.price_hist.length - 1].price %></p>
            <% if (user.email === wishlist.owner) { %>
            <form action="/wishlist/set-notify-price" method="POST">
              <label for="notifyPrice">Notify Price</label>
              <div class="row input-group">
                <input type="hidden" name="wishlistID" value="<%= wishlist._id%>">
                <input type="hidden" name="itemID" value="<%= item._id%>">
                <input type="number" class="form-control" id="notifyPrice" name="notifyPrice"
                  value="<%= itemObj.notify_price ? itemObj.notify_price : '' %>" step="0.01">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="submit" id="button-addon2"><i
                      class="fas fa-user-clock"></i></button>
                </div>
              </div>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <% }); %>

    </div>
    <% } else { %>
    <p>There are no items in this wishlist.</p>
    <% } %>
  </div> <!-- END CONTAINER -->

  <%- include ('../../partials/endBody.ejs') %>
</body>


</html>