<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../../partials/header.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/card.css">
    <title>Search</title>
</head>

<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container mb-5">
        <h2 class='my-4'>Search</h2>
        <hr class="my-4">
        <form method="POST" action="/item/search/<%= 1 %>">
            <div class="row input-group mb-3">
                <div class="input-group-prepend">
                    <select class="form-control" name="curr_category" onchange="this.form.submit()">
                        <% categoryKeys.forEach(key => { %>
                        <% if (curr_category === key) { %>
                        <option value="<%= key %>" selected><%= key %> </option>
                        <% } else { %>
                        <option value="<%= key %>"><%= key %> </option>
                        <% } %>
                        <% }); %>
                    </select>
                </div>
                <input type="text" name="keyword" class="form-control" placeholder="See if the gift is listed already!"
                    aria-label="Recipient's username" aria-describedby="button-addon2"
                    value="<%= typeof keyword !== 'undefined' ? keyword : '' %>">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2"><i
                            class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="row mb-2 align-bottom">
                <div class="py-2">Price: $</div>
                <input type="number" class="form-control range-price" name="min_price" id="min-price"
                    value="<%= typeof min_price !== 'undefined' ? min_price : 0 %>">
                <div class="py-2">&nbsp - $</div>
                <input type="number" class="form-control range-price" name="max_price" id="max-price"
                    value="<%= typeof max_price !== 'undefined' ? max_price : 500 %>">
            </div>
            <div class="row justify-content-between">
                <div class="mt-4 col-md-3" id="slider-range"></div>
                <select class="mt-1 form-control col-md-3" name="sort_type" onchange="this.form.submit()">
                    <% sorts.forEach(sort => { %>
                    <% if (sort_type === sort[0]) { %>
                    <option value="<%=sort[0]%>" selected><%= sort[1] %></option>
                    <% } else { %>
                    <option value="<%=sort[0]%>"><%= sort[1] %></option>
                    <% } %>
                    <% }); %>
                </select>
            </div>
        </form>
        <hr class="my-4">

        <% if (items.length > 0) { %>
        <div align="center" class="card-deck row row-cols-lg-4 row-cols-md-2">
            <% items.forEach(function(item) { %>
            <div class="col mb-5">
                <div class="card h-100 pt-3 shadow">
                    <img src="<%= item.img_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/item/<%= item.id %>"><%= item.title %></a></h5>
                        <p class="card-text">$<%= item.current_price %></p>
                    </div>
                </div>
            </div>
            <% }); %>
        </div> <!-- END CARD DECK -->

        <% if (pages > 0) { %>
        <div class="page-links row row-cols-lg-4 row-cols-md-2">
            <ul class="pagination">
                <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/item/search/1">First</a></li>
                <% } %>

                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>

                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/item/search/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>

                <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/item/search/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        </div>
        <% } %>

        <% } else { %>
        <h3><%= err_msg %></h3>
        <% } %>
    </div> <!-- END CONTAINER -->
    <%- include ('../../partials/endBody.ejs') %>
    <script src="/js/slider.js"></script>
</body>

</html>