<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('../../partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/item.css">
  <title><%= item.title %></title>
</head>

<body>
  <%- include ('../../partials/navbar.ejs') %>
  <div class="container my-5">

    <div align="center" class="card-deck row row-cols-lg-2 row-cols-md-1 my-5">

      <div class="col-lg-12">
        <div class="item-card h-100 pt-4 px-1 shadow">
          <h3 class="card-title"><%= item.title %></h3>
          <img src="<%= item.img_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h2>$<%= item.current_price %></h2><br>
                <div class="row">
                  <div class="col-lg-4">
                  </div>
                  <div class="col">
                    <a href="<%= item.url %>"><button type="button" class="btn btn-primary">Buy Now</button></a>
                  </div>  
                  <% if (user) { %>
                    <div class="col input-group">
                      <form method="POST" action="/wishlist/addlist" class="form-inline">
                        <input type="hidden" name="id" value="<%= item._id %>" />
                        <select id="list" class="custom-select" name="list" required>
                          <option disabled selected value="">Wishlists</option>
                          <% lists.forEach((list) => { %>
                          <option value="<%= list._id %>"><%= list.name %></option>
                          <% }); %>
                        </select>
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit" id="button-addon2"><i
                              class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <% } %>  
                    <div class="col-lg-4">
                    </div>
                </div>
                
              </div>
             
            </div>
            <div class="row">
              <div class="col-lg-8 price-graph">
                <h3 class="card-title pt-4" >Price History</h3>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <div id="chart_div"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      

    </div>

    <h2>Similar Products</h2>
    <div align="center" class="card-deck row row-cols-lg-4 row-cols-md-2">

      <div class="col mb-5">
        <div class="card h-100 pt-3 shadow">
          <img src="/img/item-placeholder.jpeg" class="card-sim-img" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Product 1</a></h5>
            <p class="card-text">$9.99</p>
          </div>
        </div>
      </div>

      <div class="col mb-5">
        <div class="card h-100 pt-3 shadow">
          <img src="/img/item-placeholder.jpeg" class="card-sim-img" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Product 2</a></h5>
            <p class="card-text">$9.99</p>
          </div>
        </div>
      </div>

      <div class="col mb-5">
        <div class="card h-100 pt-3 shadow">
          <img src="/img/item-placeholder.jpeg" class="card-sim-img" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Product 3</a></h5>
            <p class="card-text">$9.99</p>
          </div>
        </div>
      </div>

      <div class="col mb-5">
        <div class="card h-100 pt-3 shadow">
          <img src="/img/item-placeholder.jpeg" class="card-sim-img" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="#">Product 4</a></h5>
            <p class="card-text">$9.99</p>
          </div>
        </div>
      </div>

    </div>

  </div>

<input type = "hidden", id = "itemID", value = "<%= item._id %>" > 


  <%- include ('../../partials/endBody.ejs') %>
</body>



<head>
  
  <script type="text/javascript">    

    $(document).ready(function() {
    const id = $("#itemID").val();

    $.ajax({
      url: "/item/priceHistory",
      method: "POST",
      data: { itemID: id },
      dataType: "JSON",
      success: function(data) {graph(data)}
      });
    });
  
    var itemInfo;

    function graph(data)
    {
      itemInfo = data.results;
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawBasic);
    }
    
    function prepData(graphData)
    {
      var allData = [];

      for(var i = 0; i < graphData.length; i++) {
          var currentData = []
          
          var date = new Date(graphData[i].date);
          var dateString = (date.getMonth() + 1) + "/" + date.getDate();

          currentData.push(dateString);
          currentData.push(graphData[i].price);
          allData.push(currentData);
      }
      
      return allData;
    }

    function dataMinMax(graphData) {
      var prices = [];
      for(var i = 0; i < graphData.length; i++) {
        prices[i] = graphData[i].price;

      }

      var min = Math.ceil(Math.min.apply(null, prices))-5;
      var max = Math.ceil(Math.max.apply(null, prices))+5;

      return {min: min, max: max}
    }
    
    function drawBasic() {

      price_hist = itemInfo.price_hist;
      graphData = prepData(price_hist);
      
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'Price');
      data.addRows(graphData);

      var winMinMax = dataMinMax(price_hist);

      var options = {
        vAxis: {
          format: 'currency',
          gridlines: {
            count: 10,
          },
          viewWindowMode:'explicit',
          viewWindow:{
            max: winMinMax.max,
            min: winMinMax.min
          }    
        },
        legend: {
          position: 'none'
        },       
        series: {
          0: {
            type: "steppedArea", 
            areaOpacity: 0
          }
        }

      };

      var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }

  </script>
</head>
<body>
  <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</html>