<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('../../partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" type="text/css" href="/css/passwordShow.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Profile</title>
</head>

<body>
  <%- include ('../../partials/navbar.ejs') %>
  <div class="container">

    <h1 class="card-title mt-5 mb-3">Edit Profile</h1>
    <div class="card h-100 pt-3 shadow">
        <div class="card-body">
            <form action="/user/updatePassword/?userID=<%= user._id %> " method="POST">
                <%- include ('../../partials/messages.ejs') %>
                <div class="form-group">
                    <label for="oldPassword">Old Password</label>
                    <div class="form-group pass_show">
                        <input type="password" class="form-control" name="oldPassword" placeholder="Password">
                    </div>

                    <label for="password">New Password</label>
                    <div class="form-group pass_show">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <label for="confirmPassword">Confirm Password</label>
                    <div class="form-group pass_show">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
            </form>
        </div>
    </div>
  </div>

  <%- include ('../../partials/endBody.ejs') %>
</body>

<script src="/js/passwordShow.js"></script>

</html>