<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('../partials/header.ejs') %>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/home.css">
  <title>Home</title>
</head>

<body>
  <%- include ('../partials/navbar.ejs') %>
  <div class="jumbotron jumbotron-fluid home-main">
    <div class="container">
      <h1 class="display-4 font-sen">SparkList</h1>
      <p class="lead">Share wishlists with friends and family, so you can always get the right gift!</p>
      <hr class="my-4">
      <p>Find out what the hottest gifts are below</p>
    </div>
  </div>

  <div class="container" id="white-body">
    <h2 class="my-4">Search</h2>
    <form method="GET" action="">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="See if the gift is listed already!"
          aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" id="button-addon2"><i
              class="fas fa-search"></i></button>
        </div>
      </div>
    </form>

    <hr class="my-4">
    <h2>Featured Gifts</h2>
    <div class="mb-4">
      <a href="#">See more!</a>
    </div>

    <div align="center" class="card-deck row row-cols-lg-4 row-cols-md-2">
      <% items.forEach(function(item) { %>
      <div class="col mb-2">
        <div class="card h-100 pt-3 shadow">
          <img src="<%= item.img_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="/item/<%= item.id %>"><%= item.title %></a></h5>
            <p class="card-text">$<%= item.price_history[item.price_history.length - 1][0] %></p>
          </div>
        </div>
      </div>
      <% }); %>

    </div>

    <hr class="my-4">

    <div class="row">
      <div class="col-lg-6">
        <h2><i class="fas fa-info"></i> What is SparkList?</h2>
        <ul>
          <li>Create wishlists to keep track of the stuff you want</li>
          <li>Get email notifications when your items go on sale</li>
          <li>Share wishlists with friends and family</li>
          <li>Find gift ideas for upcoming events</li>
          <li>Track the price history of the most popular gifts</li>
        </ul>
      </div>

      <div class="col-lg-6">
        <h2><i class="fas fa-info"></i> Supported Sites</h2>
        <ul>
          <li>Amazon.ca</li>
        </ul>
      </div>
    </div>

  </div> <!-- END CONTAINER -->

  <%- include ('../partials/endBody.ejs') %>
</body>


</html>