<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../../partials/header.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/button.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css">
    <title>Group</title>
</head>

<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <div class="group-form">
            <h2 class="mt-5 mb-3">Create New Group</h2>
            <form action="/group/create" method="POST">
                <%- include ('../../partials/messages.ejs') %>

                <div class="form-group">
                    <input type="text" class="form-control" name="groupName" placeholder="Name">
                </div>


                <div class="form-group">
                    <input type="text" class="form-control" id="tokenfield-typeahead" name="invites"
                        placeholder="Enter emails to send invitations" />
                </div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="visibility" value="public">Public
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="visibility" value="private">Private
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-black" style="color: #fff; clear:both">Create</button>
            </form>
        </div>
    </div>

    <%- include ('../../partials/endBody.ejs') %>
    <%- include ('../../partials/tokenfield.ejs') %>

</body>


</html>