<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../../partials/header.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/button.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css">
    <title>Manage Group</title>
</head>

<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <div class="group-form">
            <h1 class="mt-5 mb-3">Manage Group</h1>
            <form action="/group/update/?groupID=<%= group._id %>" method="POST">

                <div class="form-group">
                    <label for="groupName">Group Name</label>
                    <input type="text" class="form-control" name="groupName" value="<%= group.name %>">
                </div>

                <div class=" form-group">
                    <label for="members">Members</label>
                    <input type="text" class="form-control" id="tokenfield-typeahead" name="members"
                        placeholder="Enter emails to send invitations"
                        value="<% group.members.forEach(member => { %> <%= member %>, <% }); %>" />
                </div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="visibility" value="public"
                                <%= group.visibility && group.visibility === "public" ? "checked" : "" %>>Public
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="visibility" value="private"
                                <%= group.visibility && group.visibility === "private" ? "checked" : "" %>>Private
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-black" style="color: #fff; clear:both">Update</button>

            </form>

            <form action="/group/delete/?groupID=<%= group._id %>" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

    <%- include ('../../partials/endBody.ejs') %>
    <%- include ('../../partials/tokenfield.ejs') %>

</body>


</html>