<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('../../partials/header.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups</title>
</head>

<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <h1 class="mt-5 mb-3">Groups</h1>

        <% if(msg != '') { %>
        <p><%= msg %></p>
        <% } %>

        <a href="/group/create"><button type="button" class="btn btn-primary" name="group">Create Group</button></a>

        <% if (groups) { %>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Admin</th>
                    <th scope="col">Members</th>
                    <th scope="col">Visibility</th>
                    <th scope="col">Set Wishlist</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <% groups.forEach(group => { %>
                <tr>
                    <td><%= group._id %></td>
                    <td><%= group.name %></td>
                    <td><%= group.admin %></td>
                    <td><%= group.members %></td>
                    <td><%= group.visibility %></td>
                    <td><button type="button" class="btn btn-success" id="addListToGrp" data-toggle="modal"
                            data-target="#exampleModalCenter"><i class="fas fa-plus"></i></button></td>
                    <td><a class="btn btn-info" href="/group/manage/?groupID=<%= group._id %>"><i
                                class="fas fa-edit"></i></a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } %>
        <input type="hidden" id="useremail" value="<%= user.email%>">

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Select a wishlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This wishlist will be binded with this gr
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../partials/endBody.ejs') %>
    <script src="/js/addListToGrp.js"></script>
</body>


</html>